#digitalClock{
    width: 400px;
    height: 200px;
    background-color: lightblue;
    color: white;
    margin-top: 200px;
    margin-left: 500px;
}

#yourLocTime, #time{
    padding: 20px;
    
    margin-left: 0px;
}
#yourLocTime{
    margin-top: 50px;
    background-color: lightcoral;
    text-transform: uppercase;
}